<h1 class="my-4">Result</h1>
<p><%= params[:word] %></p>
<p><%= @result %></p>
<button class="btn btn-primary px-4 py-2 m-2 button" style="
    font-size: 25px; font-weight: bold"><a href="/new" style="
    color: white; text-decoration: none;">Play Again</a></button>
